/* Fale Conosco  */ 

.text{
    text-align: center;
    margin-top: 50px;
   
}
.img{
    box-align: right;
    /* position: relative; */
    margin-left: 50%;
    width: 600px;
    margin-bottom: 30px;
    margin-top: -100px;

}
.mb1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    /* position: relative; */
    text-align: left;
    margin-top: 30px;
}
.text1{
    text-align: left;
    margin-left: 30px;
  
}
.cont{
    box-align: left;
    margin-bottom: auto;
    /* position: relative; */
    text-align: left;
    margin-top: 50px;
    font-size: 20px;

}
.p{
    margin-top: 20px;
}

/* Tabela de vendas */

.table{
    width: 100%;
    border: 5px solid black;
    background-color: yellowgreen;
   
    
} 

/* Popup */

#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#popup-image {
    max-width: 100%;
    max-height: 200px; /* Defina a altura máxima desejada para a imagem */
}