.text{
    text-align: center;
    margin-top: 50px;
    position: relative;
}
.img{
    box-align: right;
    /* position: relative; */
    margin-left: 50%;
    width: 600px;
    margin-bottom: 30px;
    margin-top: -100px;

}
.mb1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    position: relative;
    text-align: left;
    margin-top: 30px;
}
.text1{
    text-align: left;
  
}
.cont{
    box-align: left;
    margin-bottom: auto;
    /* position: relative; */
    text-align: left;
    margin-top: 50px;
    font-size: 20px;

}
.p{
    margin-top: 20px;
}